/* --------- ESTILOS GENERALES -----------------*/
/* Primero: resetear todos los espacios y margenes que le agrega automaticamente el navegador */
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  font-family: 'Open Sans', Verdana;
}

html, body {
  overflow-x: hidden; 
}

body {
  background: white;
}

.clearfix {
  clear: both;
  float: none;
}

.container {
  width: 85%;
  margin: 0px auto; /* Centrar un bloque */
}

/* --------- ESTILOS DE LA CABECERA -----------------*/

#main-header {
  background: white;
  height: 100px; /* Altura */
  line-height: 85px; /* Altura de la linea de texto. Permite centrar el texto en el bloque*/
  /*border-bottom: 1px solid black;*/
}

#logo {
  width: 63%;
  float: left;
}

#logo h1 {
  font-weight: bold;
  font-size: 25px;
  color: #fb314e;
}

#menu {
  width: 380px;
  float: left; /* Flota a la izquierda. Se ubica al lado del logo */
}

#menu ul li {
  list-style: none; /* Quitar las viñetas */
  float: left;
  margin-left: 19px; /* antes estaban en 20*/
  margin-right: 19px; /* antes estaban en 20*/
}

#menu ul li a {
  color: black;
}

#menu ul li a:hover { /*Hover es para indicar lo que sucede al pasar el cursor por encima*/
  color: #fb314e;
}

/* --------- ESTILOS DEL SLIDER -----------------*/

#slider {
  height: 300px;
  background: #fb314e;
}

#slider h2 {
  font-size: 40px;
  text-align: center;
  color: white;
  line-height: 290px;
  text-shadow: 0px 0px 6px black;
}

/* --------- ESTILOS DE LOS SERVICIOS -----------------*/

.subheader {
  font-size: 34px;
  color: #333; /* Gris oscuro */
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(251, 49, 78, 0.3);
  /* Sitio para generar RGBA: http://hex2rgba.devoth.com/ */
}

.service, .video { /*la clase video agregar al maquetar video*/
  width: 33%;
  text-align: center;
  float: left;
  margin-top: 20px;
  margin-bottom: 20px;
}

.service img {
  height: 48px; /* De acuerdo al tamaño de las imagenes */
  margin-bottom: 20px;
}

.service h3 {
  margin-bottom: 10px;
}

.service p, .video p { /* Modificar al maquetar videos .video p */
  color: #444; /*  Otra variante de gris oscuro */
  text-align: center; /* mod en video */
  display: block; /* mod en video permite modificar el tamaño del texto*/
  width: 85%; /* mod en video */
  margin: 0px auto; /* mod en video */
}

/* --------- ESTILOS DE LOS VIDEOS -----------------*/
/* agregamos la clase video a la regla anteriormente creada de .service*/

.video iframe {
  width: 80%;
  height: 170px;
}

/* Ahora modificar los p de la clase .service */

/* --------- ESTILOS DEL FOOTER -----------------*/

#footer {
  background: #333;
  padding-top: 5px;
  padding-bottom: 40px;
  margin-top: 30px;
  text-align: center;
  color: white;
}

#footer .subheader {
  color: white;
}

#networks {
  display: block;
  width: 216px; /* Primero poner 215 y depues corregir a 216 */
  margin: 0px auto;
  list-style: none;
  margin-bottom: 20px;
  margin-top: 20px;
}

#networks li {
  float: left;
  margin-left: 20px;
  margin-right: 20px;
  transition: all 300ms;/* Agregar transiciones como efecto y la duracion */
}

#networks li:hover {
  opacity: 0.8;
  transform: scale(1.1, 1.1);
}

/*
@media all and (max-width: 1000px) {
  #main-header {
    background: black;
  }
}
*/

/* ----------- Cabecera ----------- */
@media all and (max-width : 1224px) {
	.container{
		width: 95%;
	}
}

@media all and (max-width: 1085px) {
  #main-header {
    height: 70px;
    line-height: 65px;
  }
  #logo {
    width: 60%;
  }
}

@media all and (max-width: 999px) {
  #logo {
    width: 220px;
    float: none;
    margin: 0px auto;
  }
  #menu {
    float: none;
    margin: 0px auto;
    /* Agregar clearfix despues de header */
  }
  #slider {/*mod*/
    overflow: hidden;
    height: 150px;
  }
  #slider h2 {/*mod*/
    font-size: 30px;
    line-height: 30px;
    margin-top: 50px;
  }
}

@media all and (max-width: 780px) {
  .service, .video {
    width: 70%;
    float: none;
    margin: 0px auto;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .service img {
    margin-bottom: 10px;
  }
  .service p, .video p {
    margin-top: 10px;
  }
  .video iframe {
    width: 80%;
    height: 235px;
  }
}

@media all and (max-width: 410px) {
  #slider h2 {/*mod*/
    font-size: 25px;
    line-height: 30px;
    margin-top: 60px;
  }
}

@media all and (max-width: 377px) {
  #menu {
    width: 100%;
    text-align: center;
  }
  #menu ul li {
    margin-left: 4%;
    margin-right: 4%;
  }
  #slider h2 { /*mod*/
    margin-top: 50px;
  }
  .service, .video {
    width: 90%;
  }
  .video iframe {
    width: 90%;
    height: 165px;
    /* Agregar regla para eliminar la barra lateral en body y html */
  }
}

@media all and (max-width: 345px) {
  #main-header {
    height: auto;
  }
  #menu ul li {
    float: none;
  }
}

/* ----- Seccion Servicios, videos y footer ---- */
/* Agregar nueva query a los 780px */
